<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*<meta http-equiv="refresh" content="60, URL=~" />*@
    <link href="~/css/bootstrap.css" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @await RenderSectionAsync("Css", required: false)
</body>
</html>
